body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

#header{
    background-color: #625b7132;
    justify-items: center;
    width: 95vw;
    border-radius: 10px;
}


#main{
    display: flex;
    background-color: #625b7132;
    height: 700px;
    width: 95vw;
    justify-content:center;
    align-items: center;
    margin-top: 70px;
    border-radius: 10px;
}

.textMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.h1Main{
    margin: 0;
    font-size: 35px;
}
.pMain{
    margin: 8px;
    font-size: 22px;
}